@charset "utf-8";

.tab_content.img_content {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.imgBox {
    position: relative;
    display: inline-flex;
    margin-right: -15px;
    margin-left: -15px;
}

.gg-box {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.ggwrap {
    position: relative;
    width: 20%;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-right: 15px;
    padding-left: 15px;
}

.ggwrap .check_default {
    display: block;
    position: absolute;
    top: 0;
    right: 15px;
    margin-right: 0;
    margin-bottom: 10px;
}

.gg-element {
    overflow: hidden;
    /* max-width: 373px; */
    max-width: 343px;
    max-height: 193px;
    border: 1px solid #dadada;
}

.gg-element img {
    display: inline-block;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.gg-element .tototo {
    display: none;
}

.gg-box.add {
    display: inline-flex;
    padding-right: 740px;
}

/*.gg-box.add {
  display:inline-flex;
 padding-right:740px 
}
*/

.gg-box.add .ggwrap {
    width: 25%;
}

.gg-box.add .ggwrap .gg-element {
    height: 160px;
}

/* #gg-screen {
    display: none;
    overflow: scroll;
    position: sticky;
    z-index: 999; 
    top: 268px;
    right: 0;
    width: 730px;
    height: 100%;
    padding: 77px 42px 0 43px;
    margin: 0 auto;
    text-align: center;
    background-color: #111112;
} */

/* #gg-screen {
    display: none;
    overflow-y: scroll;
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    width: 730px;
    height: 100%;
    padding: 77px 42px 0 43px;
    margin: 0 auto;
    text-align: center;
    background-color: #111112;
} */

#gg-screen {
    display: none;
    overflow-y: scroll;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    margin-top: 250px;
    width: 730px;
    height: calc(100vh - 250px);
    padding: 77px 42px 0 43px;
    text-align: center;
    background-color: #111112;
}

#gg-screen img {
    display: block;
    max-width: 620px;
    height: auto;
    max-height: 640px;
    margin: 0 auto;
}

#gg-screen .tototo {
    overflow: hidden;
    position: relative;
    width: 100%;
}

#gg-screen .tototo button {
    display: block;
    position: absolute;
    top: 9px;
    right: 0px;
    width: 32px;
    height: 32px;
    background: url("../images/btn_download.png") no-repeat right top;
}


#gg-screen .tototo .gg-img-tit {
    display: block;
    overflow: hidden;
    margin-top: 51px;
    margin-bottom: 5px;
    font-size: 20px;
    color: #fff;
    text-align: left;
    line-height: 1.2;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#gg-screen .tototo .gg-img-tit:hover {
    text-decoration: underline;
}

#gg-screen .tototo span {
    display: block;
    font-size: 15px;
    color: rgba(250,250,250, 0.64);
    line-height: 1.2;
    margin-bottom: 40px;
    text-align: left;
}

.gg-bt {
  display: inline-block;
  
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 24px;
    vertical-align: middle;
    cursor: pointer;   
}

/* .gg-bt:hover{
    background: rgba(255,255,255,0.8);
    border: 1px solid rgba(0,0,0,0.5);
  } */

.gg-close {
    position: absolute;
    top: 24px;
    right: 24px;
}

.gg-nxt {
  width: 20px;
  height: 36px;  
  background-image: url("../images/move_rignt.png");
  right: 42px;
}

.gg-prev {
  width: 20px;
  height: 36px;  
  background-image: url("../images/move_left.png");
  left: 43px;
}

.gg-nxt,
.gg-prev {
    position: absolute;
    top: 239px;
}