@charset "utf-8";

#wrap {
    overflow: hidden;
    position: relative;
    width: 100%;
    min-width: 1417px;
    margin: 0 auto;
    padding: 0;
}

/* header */
.header_wrap {
    position: relative;
    z-index: 1000;
    width: 100%;
    background-color: #fff;
    /* -webkit-box-shadow: 0 1px 15px 3px rgba(0,0,0,0.25);
    box-shadow: 0 1px 15px 3px rgba(0,0,0,0.25); */
}

.header_wrap:hover {
    background-color: #2782CE;
}

.header_wrap:hover .gnb_group .gnbArea .subnav .subnavbtn {
    color: #fff;
}

.header {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    width: 1400px;
    height: 100px;
    margin: 0 auto;
}

.gnb_group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    height: 100px;
}

.gnb_group>h1 {
    position: relative;
    width: 160px;
    height: 100px;
    margin-right: 36px;
}

.gnb_group>h1 a {
    display: inline-block;
    position: absolute;
    top: 30px;
    height: 20px;
    width: 100%;
    background: url("../images/logo.png") no-repeat 0 0;
}

.gnb_group .gnbArea {
    overflow: hidden;
    position: relative;
    width: 600px;
    top: 29px
}

.gnbArea .subnav {
    overflow: hidden;
    float: left;
}

.subnav .subnavbtn {
    padding: 3px 0;
    margin-right: 48px;
    font-size: 18px;
    border: none;
    outline: none;
    color: #282828;
}

.subnav:hover .subnavbtn {
    color: #DCD506 !important
}

.subnav_content {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
}

.subnav_content a {
    float: left;
    margin-top: 8px;
    margin-right: 24px;
    padding: 3px 0px;
    font-family: 'NotoS_L';
    font-size: 15px;
    letter-spacing: -1px;
    color: #fff;
}

.subnav_content a::before {
    display: inline-block;
    content: '';
    width: 0;
    height: 0;
    vertical-align: middle;
    border-style: solid;
    border-width: 5px 7px 5px 7px;
    border-color: transparent transparent transparent #fff;
}

.subnav_content a:hover {
    color: #fff;
}

.subnav:hover .subnav_content {
    display: block;
}

.login_area {
    position: relative;
    top: 29px;
    height: 20px;
}

.login_area span {
    display: block;
    float: left;
    position: relative;
    height: 24px;
    padding-left: 10px;
    margin-right: 10px;
    line-height: 24px;
    font-size: 13px;
    color: #666;
}

.login_area .regis a {
    background: url("../images/icon_re.png") no-repeat 0 0;
    padding-left: 22px;
    font-family: 'Notos_B';
    color: #666;
}

.login_area span::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 1px;
    height: 10px;
    margin-top: -5px;
    background-color: #dadada;
}

.login_area span.regis::after {
    display: none;
}

.login_area span:last-child {
    margin-right: 0;
}

.header_wrap:hover .gnb_group h1 a {
    background: url("../images/logo_w.png") no-repeat 0 0;
}

.header_wrap:hover .login_area .regis a {
    background: url("../images/icon_re_ho.png") no-repeat 0 0;
}

.header_wrap:hover .login_area span,
.header_wrap:hover .login_area span a {
    color: #fff;
}

/* //header*/


/* = stick S = */
.sta_wrap {
    position: relative;
    width: 100%;
}

.sticky {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1001;
}

/* = 검색영역 s = */
.seach_wrap {
    width: 100%;
    background: #F5F5F5 url(../images/sear_bg.png) repeat-x;
}

.seach_wrap .search {
    position: relative;
    width: 660px;
    height: 112px;
    margin: 0 auto;
    padding-top: 31px;
    padding-bottom: 31px;
}

.search input[type="text"].input_sch {
    width: 660px;
    height: 50px;
    padding: 13px 70px 15px 0px;
    border: 0;
    border-bottom: 2px solid #2A2D37;
    background-color: transparent;
    font-family: 'NotoS_B';
    font-size: 26px;
    line-height: 24px;
    color: #282828;
    outline: 0;
}

.search input[type="text"].input_sch:-ms-input-placeholder {
    font-family: 'NotoS_L';
    color: #666666
}

.search input[type="text"].input_sch::-webkit-input-placeholder {
    font-family: 'NotoS_L';
    color: #666666
}

.search input[type="text"].input_sch::-moz-placeholder {
    font-family: 'NotoS_L';
    color: #666666
}

.search input[type="text"].input_sch::-ms-input-placeholder {
    font-family: 'NotoS_L';
    color: #666666
}

.search input[type="text"].input_sch::placeholder {
    font-family: 'NotoS_L';
    color: #666666
}

.search input[type="text"].input_sch:focus {
    border-color: #2782CE
}

.search #schclear {
    display: inline-block;
    position: absolute;
    top: 39px;
    right: 40px;
    width: 24px;
    height: 24px;
    background: url("../images/icon_clear.png") no-repeat 0 0;
    cursor: pointer;
}

.search .btn_submit {
    position: absolute;
    top: 39px;
    right: 4px;
    width: 24px;
    height: 24px;
    background: url("../images/icon_search.png") no-repeat 0 0;
}

/* = 검색영역 e = */

/* = page_tit s = */
.sta_tit_wrap {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 90px;
    background: #dadada url("../images/tit_bg.png") repeat-x;
}

.sta_tit_wrap .sta_tit {
    position: relative;
    width: 1400px;
    height: 90px;
    margin: 0 auto;
}

.sta_tit h1 {
    font-family: 'NotoS_B';
    font-size: 38px;
    line-height: 90px;
    text-align: center;
}

.sta_tit h1.admin {
    font-family: 'NotoS_B';
    font-size: 24px;
    line-height: 90px;
    text-align: left;
    color: #282828;
}
/* = page_tit e = */

/* = view_tit s = */
.view_tit_wrap {
    overflow: hidden;
    position: relative;
    width: 100%;
    min-height: 112px;
    background: #F5F5F5 url("../images/sear_bg.png") repeat-x;
}

.view_tit_wrap .view_tit {
    position: relative;
    width: 1400px;
    padding-top:24px;
    margin: 0 auto;
}

.view_tit h1.viewTitle {
    font-family: 'NotoS_M';
    font-size: 34px;
    text-align: left;
    color: #282828;
}

.listBox .box_left .keyword {
    overflow: hidden;
    position: relative;
    font-size: 0;
    height: 27px;
}

.listBox .box_left .keyword .txt {
    display: inline-block;
    height: 27px;
    padding: 0 16px;
    margin-right: 6px;
    border-radius: 27px;
    background-color: #F5F5F5;
    font-size: 15px;
    line-height: 24px;
}
/* = view_tit e = */


/* = snbTab s = */
.snbTab_wrap {
    position: relative;
    z-index: 1001;
    width: 1400px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.snb_wrap {
    position: absolute;
    top: 40px;
    z-index: 1002;
    width: 200px;
    height: 200px;
    padding-right: 40px;
}

.snbtit {
    position: relative;
    border: 1px solid #DADADA;
    border-bottom: 0;
    line-height: 42px;
}

.snb_wrap .snbtit:last-child {
    border-bottom: 1px solid #DADADA;
}

.snb_wrap .snbtit>a {
    display: block;
    height: 42px;
    padding: 0 20px;
    font-size: 15px;
}

.snb_wrap .snbtit .active,
.snb_wrap .snbtit a:hover {
    background-color: #2782CE;
    color: #fff;
}

.snb_wrap .snbtit>a:after {
    display: inline-block;
    position: absolute;
    right: 17px;
    top: 15px;
    content: '';
    width: 0;
    height: 0;
    vertical-align: middle;
    border-style: solid;
    border-width: 5px 7px 5px 7px;
    border-color: transparent transparent transparent #DADADA;
}

.snb_wrap .snbtit>.active:after,
.snb_wrap .snbtit>a:hover:after {
    border-color: transparent transparent transparent #fff;
}

/* = //snb = */


.tab_menu_wrap {
    position: relative;
    width: 1200px;
    margin-left: 200px;
}

.tab_menu {
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    border-bottom: 1px solid #DADADA;
}

.tab_menu .tablinks {
    width: 96px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    color: #666;
    white-space: nowrap;
}

.tab_menu .tablinks.active {
    font-family: 'NotoS_M';
    color: #282828;
    border-bottom: 3px solid #2782CE;
}

/* = //탭메뉴  = */

/* = stick E = */

/* container */
#container {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

/* = content_wrap S = */
.content_wrap {
    position: relative;
    width: 100%;
}

.content_wrap .listWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 1400px;
    padding-top: 35px;
    margin: 0 auto;
}

.content_wrap .listWrap.admin {
    padding-top: 40px;
}

/* = content s = */
.content_list {
    overflow: hidden;
    position: relative;
    width: 1400px;
    padding-left: 200px;
    margin: 0 auto
}

/* = tabMenu content s = */
.tab_cont_wrap>div {
    display: none;
}

.tab_cont_wrap {
    position: relative;
    width: 100%;
    height: auto;
}

.tab_cont_wrap .tab_content {
    overflow: hidden;
    position: relative;
    width: 1200px;
}

.tab_content .listBox {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 1200px;
    height: 218px;
    margin-bottom: 20px;
    border: 1px solid #DADADA;
}

.tab_content .listBox:last-child {
    margin-bottom: 25px;
}

.tab_content .listBox .box_left {
    overflow: hidden;
    position: relative;
    width: 816px;
    padding: 30px;
}

.tab_content .listBox .box_left.no_img {
    width: 100%;
}

.listBox .box_left .tit_master {
    font-size: 21px;
    font-family: 'NotoS_B';
}

.tab_content .listBox .box_left .tit_master:hover,
.tab_content .listBox .box_left .tit_master:focus {
    text-decoration: underline;
}

.listBox .box_left .summary {
    margin: 8px 0 9px;
    font-size: 16px;
    line-height: 1.5;
}

.listBox .box_left .clientDate {
    margin-bottom: 16px;
}

.listBox .box_left .clientDate span {
    padding-right: 3px;
    font-size: 16px;
    color: rgba(40, 40, 40, .64)
}

.listBox .box_left .clientDate .i_calen {
    padding-left: 18px;
    line-height: 24px;
    background: url("../images/icon_calendar.png") no-repeat 0 5px;
}

.listBox .box_left .keyword {
    overflow: hidden;
    position: relative;
    font-size: 0;
    height: 27px;
}

.listBox .box_left .keyword .txt {
    display: inline-block;
    height: 27px;
    padding: 0 16px;
    margin-right: 6px;
    border-radius: 27px;
    background-color: #F5F5F5;
    font-size: 15px;
    line-height: 24px;
}

.listBox .box_right {
    overflow: hidden;
    display: flex;
    position: relative;
    width: 384px;
    background-color: #F9FAFB;
}

.listBox .box_right img {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.listBox .box_right.mo img {
    display: inline-block;
    width: 33.3333%;
    margin: 0 auto;
}

.more_wrap .more_btn {
    display: block;
    width: 35px;
    height: 40px;
    text-align: center;
    margin: 0 auto;
    font-size: 12px;
}

.more_wrap .more_btn .more_icon {
    display: block;
    width: 16px;
    height: 21px;
    margin: 0 auto;
    padding-top: 5px;
    background: url("../images/arrow-more.png") no-repeat bottom;
}

/* = tabMenu content e = */

/* = formbg_wrap s = */
.formbg_wrap {
    width: 100%;
    margin: 0 auto;
    padding-top: 42px;
    background-color: #F5F5F5;
}

.form_area {
    overflow: hidden;
    width: 1200px;
    margin: 0 auto;
}

.form_area .groupWrap {
    border-bottom: 1px solid #666666
}

.form_group .keyword_re {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.form_group .keyword_re .txt {
    position: relative;
    display: inline-block;
    height: 27px;
    margin-top: 9px;
    margin-right: 6px;
    padding: 7px 16px 6px;
    border-radius: 27px;
    background-color: #dadada;
    font-size: 15px;
}

.form_group .keyword_re .txt:hover {
    background-color: rgba(0, 0, 0, .36)
}

.form_group .keyword_re .txt:hover::after {
    display: inline-block;
    margin-left: 8px;
    content: "";
    width: 14px;
    height: 14px;
    vertical-align: top;
    background: url("../images/icon_key.png") no-repeat;
    cursor: pointer;
}


.form_group>.fileForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.form_group>.fileForm>input:nth-child(1) {
    width: 500px;
    margin-right: 12px;
}

.form_group>.fileForm>input:nth-child(2) {
    width: 587px;
    margin-right: 6px;
}

/* formbg_wrap e */

/* img_wrap s */
.img_wrap {
    overflow: hidden;
    width: 1200px;
    margin: 0 auto;
    padding-top: 42px
}

.imgRegi_area {
    overflow: hidden;
    position: relative;
    width: 1200px;
    height: 507px;
    margin-bottom: 34px;
    border: 1px solid #DADADA;
    border-radius: 4px;
    background-color: #F9FAFB;
}

.imgRegi_area .imgRegi_info {
    padding: 175px 0;
    margin: 0 auto;
}

.imgRegi_area .imgRegi_info img {
    display: block;
    width: 56px;
    height: 56px;
    margin: 0 auto;
}

.imgRegi_area .imgRegi_info>p {
    width: 100%;
    text-align: center;
}

.imgRegi_area .info_tit {
    margin-top: 15px;
    margin-bottom: 20px;
    font-family: 'NotoS_B';

    font-size: 18px;
}


.imgRegi_area .info_tits {
    font-size: 15px;
    color: rgba(0, 0, 0, .56);
}


/* img_wrap e */

/* content e = */
/* = content_wrap E = */

/* //container */


/* admin */
.wrap_user {
    position: relative;
    display: block;
    border-top: 2px solid #666;
    padding-top: 12px;
}

.wrap_user ul.row {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}

.wrap_user ul.row:last-child {
    margin-bottom: 0px;
}

.wrap_user ul.row li.box_user {
    position: relative;
    display: block;
    width: 277px;
    height: 145px;
    padding: 19px 18px 50px 18px;
    border: 1px solid #DADADA;
    box-sizing: border-box;
    margin-right: 30px;
}

.wrap_user ul.row li.box_user.edit {
    border: 2px solid #2782CE;
}

.wrap_user ul.row li.box_user:last-child {
    margin-right: 0px;
}

.wrap_user ul.row li.box_user ul li {
    display: block;
    color: #000;
    font-size: 13px;
    line-height: 1;
    opacity: 0.4;
    padding-left: 85px;
}

.wrap_user ul.row li.box_user ul li.name {
    height: 20px;
    font-size: 15px;
    opacity: 1;
    margin-bottom: 5px;
}

.wrap_user ul.row li.box_user ul li:last-child {
    font-size: 13px;
    opacity: 0.8;
    margin-top: 12px;
}

.wrap_user ul.row li.box_user ul li em {
    font-size: 18px;
    font-family: NotoS_B;
    line-height: 1;
}

.wrap_user ul.row li.box_user ul span {
    position: absolute;
    width: 68px;
    height: 68px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #DADADA;
}

.wrap_user ul.row li.box_user ul span::after {
    content: '';
    position: absolute;
    width: 32px;
    height: 25px;
    top: 22px;
    left: 18px;
    background: url(../images/img_profile_dim.png) left top no-repeat;
}

.wrap_user ul.row li.box_user ul span img {
    position: absolute;
    width: 68px;
    height: auto;
    z-index: 10;
}




/* //admin */


/* footer */
.footer {
    position: relative;
    width: 100%;
    height: 60px;
    margin-top: 81px;
    padding-top: 20px;
    border-top: 1px solid #eee;
    font-size: 13px;
    text-align: center;
    color: #B5B5B5;
}

/* //footer */

/* topbtn */
#topBtn {
    display: none;
    position: fixed;
    right: 136px;
    bottom: 30px;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

/* //topbtn */